#gallaryPage 
{
    height: 100%;
    padding: 10vw 0;
}

.imageBox
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imageBox img 
{
    width: 600px;
    height: 600px;
    object-fit: cover;
}