.homePage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 5rem;
  position: relative;
}

.homeLogo .largeHeading {
  display: inline-block;
  font-size: 7.5rem;
  cursor: pointer;
  transition: all 0.25s ease;
}
.homeLogo .largeHeading:hover {
  color: var(--purpleColor);
  transform: scale(0.85);
}
.contentHome p {
  margin: 0rem 0 2rem;
}
.contentHome a {
  background-color: var(--purpleColor);
}
.homeImage 
{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.homeImage img 
{
    width: 100%;
    background-size: contain;

}
.contentPage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5rem;
}


/* media queries */
@media screen and (min-width:426px) and (max-width:769px) {
  .homePage
  {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(0, 0, 0, 0.437),rgba(0, 0, 0, 0.551)), url('../images/my\ edit\ cards\ 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .homeLogo .largeHeading {
    font-size: 4.5rem;
  }

  .homeImage{
    display: none;
    width: 10%;
    border: 10px solid white;
  }

}

@media screen and (min-width:769px) and (max-width:1025px) {
  .homeLogo .largeHeading 
  {
    font-size: 4.5rem;
  }
  .homeImage
  {
    width: 78%;
  }

}