.navbar 
{
    padding: 1.5rem 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222323;
    position: fixed;
    width: 100vw;
    z-index: 5;
}

.navLinks 
{
    display: flex;
    text-transform: uppercase;
}

.navLinks a 
{
    color: white;
}

.navLinks a:hover 
{
    color: var(--purpleColor);
    
}

@media screen and (min-width:769px) and (max-width:1025px) {
    .navbar
    {
        padding: 1.25rem 15vw;
    }
}